In [933]:
import pandas as pd
import numpy as np
import time

import warnings
warnings.filterwarnings('ignore')

In [934]:
data_circuit = pd.read_csv('../../data-projects/data_f1/circuits.csv', encoding = 'utf-8', encoding_errors = 'ignore')
data_races = pd.read_csv('../../data-projects/data_f1/races.csv', encoding = 'utf-8', encoding_errors = 'ignore')

In [935]:
data_circuit.shape

(77, 9)

In [936]:
data_circuit.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [937]:
data_circuit = data_circuit.drop(['circuitRef', 'lat', 'lng', 'alt', 'url'], axis = 1)
data_circuit.head()

   circuitId                            name      location    country
0          1  Albert Park Grand Prix Circuit     Melbourne  Australia
1          2    Sepang International Circuit  Kuala Lumpur   Malaysia
2          3   Bahrain International Circuit        Sakhir    Bahrain
3          4  Circuit de Barcelona-Catalunya      Montmeló      Spain
4          5                   Istanbul Park      Istanbul     Turkey

In [938]:
new_col = ['Circuit ID', 'Name', 'Location', 'Country']
data_circuit.columns = new_col

data_circuit.head(15)

    Circuit ID                            Name      Location    Country
0            1  Albert Park Grand Prix Circuit     Melbourne  Australia
1            2    Sepang International Circuit  Kuala Lumpur   Malaysia
2            3   Bahrain International Circuit        Sakhir    Bahrain
3            4  Circuit de Barcelona-Catalunya      Montmeló      Spain
4            5                   Istanbul Park      Istanbul     Turkey
5            6               Circuit de Monaco   Monte-Carlo     Monaco
6            7       Circuit Gilles Villeneuve      Montreal     Canada
7            8   Circuit de Nevers Magny-Cours   Magny Cours     France
8            9             Silverstone Circuit   Silverstone         UK
9           10                  Hockenheimring    Hockenheim    Germany
10          11                     Hungaroring      Budapest    Hungary
11          12         Valencia Street Circuit      Valencia      Spain
12          13    Circuit de Spa-Francorchamps           Spa    Belgium
13          14    Autodromo Nazionale di Monza         Monza      Italy
14          15       Marina Bay Street Circuit    Marina Bay  Singapore

In [939]:
data_races.shape

(1102, 18)

In [940]:
data_races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [941]:
data_races = data_races.drop(['fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'url'], axis = 1)

In [942]:
data_races.head()

   raceId  year  round  circuitId                   name        date      time
0       1  2009      1          1  Australian Grand Prix  2009-03-29  06:00:00
1       2  2009      2          2   Malaysian Grand Prix  2009-04-05  09:00:00
2       3  2009      3         17     Chinese Grand Prix  2009-04-19  07:00:00
3       4  2009      4          3     Bahrain Grand Prix  2009-04-26  12:00:00
4       5  2009      5          4     Spanish Grand Prix  2009-05-10  12:00:00

In [943]:
data_races = data_races.rename(columns = {'raceId': 'Race ID', 'year' : 'Year', 'round': 'Race Number', 'circuitId': 'Circuit ID', 'name' : 'Name', 'date' : 'Date', 'time' : 'Time'})
data_races.head()

,Race ID,Year,Race Number,Circuit ID,Name,Date,Time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00

In [944]:
data_races.Year.unique()

array([2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 2010, 1989,
       1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978,
       1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967,
       1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956,
       1955, 1954, 1953, 1952, 1951, 1950, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

In [945]:
data_races = data_races.sort_values(by = 'Date', ascending = False)
data_races.head()

,Race ID,Year,Race Number,Circuit ID,Name,Date,Time
1101,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00
1100,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00
1099,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00
1098,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00
1097,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00

In [946]:
data_races = data_races.reset_index(drop = True)

In [947]:
data_races.head()

,Race ID,Year,Race Number,Circuit ID,Name,Date,Time
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00
1,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00
2,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00
3,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00
4,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00

In [948]:
# unir los dataframes
Data_Circuits = pd.merge(data_races, data_circuit, on = 'Circuit ID')
Data_Circuits.head()

,Race ID,Year,Race Number,Circuit ID,Name_x,Date,Time,Name_y,Location,Country
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
1,1096,2022,22,24,Abu Dhabi Grand Prix,2022-11-20,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
2,1073,2021,22,24,Abu Dhabi Grand Prix,2021-12-12,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
3,1047,2020,17,24,Abu Dhabi Grand Prix,2020-12-13,13:10:00,Yas Marina Circuit,Abu Dhabi,UAE
4,1030,2019,21,24,Abu Dhabi Grand Prix,2019-12-01,13:10:00,Yas Marina Circuit,Abu Dhabi,UAE

In [949]:
Data_Circuits = Data_Circuits.sort_values(by = 'Date', ascending = False)
Data_Circuits.head()

,Race ID,Year,Race Number,Circuit ID,Name_x,Date,Time,Name_y,Location,Country
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
15,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,Las Vegas Strip Street Circuit,Las Vegas,United States
16,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00,Autódromo José Carlos Pace,São Paulo,Brazil
56,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,Autódromo Hermanos Rodríguez,Mexico City,Mexico
79,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,Circuit of the Americas,Austin,USA

In [950]:
Data_Circuits = Data_Circuits.reset_index(drop = True)
Data_Circuits.head()

,Race ID,Year,Race Number,Circuit ID,Name_x,Date,Time,Name_y,Location,Country
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
1,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,Las Vegas Strip Street Circuit,Las Vegas,United States
2,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00,Autódromo José Carlos Pace,São Paulo,Brazil
3,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,Autódromo Hermanos Rodríguez,Mexico City,Mexico
4,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,Circuit of the Americas,Austin,USA

In [951]:
Data_Circuits.Name_x.unique()

array(['Abu Dhabi Grand Prix', 'Las Vegas Grand Prix',
       'São Paulo Grand Prix', 'Mexico City Grand Prix',
       'United States Grand Prix', 'Qatar Grand Prix',
       'Japanese Grand Prix', 'Singapore Grand Prix',
       'Italian Grand Prix', 'Dutch Grand Prix', 'Belgian Grand Prix',
       'Hungarian Grand Prix', 'British Grand Prix',
       'Austrian Grand Prix', 'Canadian Grand Prix', 'Spanish Grand Prix',
       'Monaco Grand Prix', 'Emilia Romagna Grand Prix',
       'Miami Grand Prix', 'Azerbaijan Grand Prix',
       'Australian Grand Prix', 'Saudi Arabian Grand Prix',
       'Bahrain Grand Prix', 'Brazilian Grand Prix', 'French Grand Prix',
       'Turkish Grand Prix', 'Russian Grand Prix', 'Styrian Grand Prix',
       'Portuguese Grand Prix', 'Sakhir Grand Prix', 'Eifel Grand Prix',
       'Tuscan Grand Prix', '70th Anniversary Grand Prix',
       'Mexican Grand Prix', 'German Grand Prix', 'Chinese Grand Prix',
       'Malaysian Grand Prix', 'European Grand Prix', 'Indian Grand Prix',
       'Korean Grand Prix', 'San Marino Grand Prix',
       'Luxembourg Grand Prix', 'Argentine Grand Prix',
       'Pacific Grand Prix', 'South African Grand Prix',
       'Detroit Grand Prix', 'Dallas Grand Prix',
       'United States Grand Prix West', 'Caesars Palace Grand Prix',
       'Swiss Grand Prix', 'Swedish Grand Prix', 'Indianapolis 500',
       'Moroccan Grand Prix', 'Pescara Grand Prix'], dtype=object)

In [952]:
Data_Circuits.Location.unique()

array(['Abu Dhabi', 'Las Vegas', 'São Paulo', 'Mexico City', 'Austin',
       'Al Daayen', 'Suzuka', 'Marina Bay', 'Monza', 'Zandvoort', 'Spa',
       'Budapest', 'Silverstone', 'Spielberg', 'Montreal', 'Montmeló',
       'Monte-Carlo', 'Imola', 'Miami', 'Baku', 'Melbourne', 'Jeddah',
       'Sakhir', 'Le Castellet', 'Istanbul', 'Sochi', 'Portimão',
       'Nürburg', 'Mugello', 'Hockenheim', 'Shanghai', 'Kuala Lumpur',
       'Uttar Pradesh', 'Yeongam County', 'Valencia', 'Oyama',
       'Magny Cours', 'Indianapolis', 'Buenos Aires',
       'Jerez de la Frontera', 'Estoril', 'Adelaide', 'Okayama',
       'Castle Donington', 'Midrand', 'Phoenix', 'Rio de Janeiro',
       'Detroit', 'Kent', 'Dallas', 'Dijon', 'Heusden-Zolder',
       'California', 'Nevada', 'Madrid', 'New York State', 'Anderstorp',
       'Ontario', 'Barcelona', 'Brussels', 'Clermont-Ferrand', 'Quebec',
       'Rouen', 'Le Mans', 'Reims', 'Eastern Cape Province', 'Styria',
       'Liverpool', 'Oporto', 'Florida', 'Lisbon', 'Berlin', 'Casablanca',
       'Pescara', 'Bern'], dtype=object)

In [953]:
new_cols = ['Race ID', 'Year', 'Race Number', 'Circuit ID', 'Grand Prix', 'Date', 'Time', 'Name', 'Location', 'Country']
Data_Circuits.columns = new_cols

Data_Circuits.head()

,Race ID,Year,Race Number,Circuit ID,Grand Prix,Date,Time,Name,Location,Country
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
1,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,Las Vegas Strip Street Circuit,Las Vegas,United States
2,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00,Autódromo José Carlos Pace,São Paulo,Brazil
3,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,Autódromo Hermanos Rodríguez,Mexico City,Mexico
4,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,Circuit of the Americas,Austin,USA

In [954]:
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.common.by import By # By es para buscar por tag, clase, id...

import time

import warnings
warnings.filterwarnings('ignore')

In [955]:
#driver configuration
opciones = Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
#opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
#opciones.add_argument('--incognito')

In [956]:
PATH = ChromeDriverManager().install()

driver = webdriver.Chrome(PATH)

driver.get('https://f1.fandom.com/wiki/Safety_Car')

In [957]:
aceptar = driver.find_element(By.CSS_SELECTOR, 'body > div:nth-child(18) > div > div > div._1r08nyekFdI7_2d8r3AIBf > div.NN0_TB_DIsNmMHgJWgT7U.XHcr6qf5Sub2F2zBJ53S_')

time.sleep(3)

aceptar.click()

In [958]:
tabla = driver.find_elements(By.TAG_NAME, 'table')
len(tabla)

4

In [959]:
print(tabla[1].text)

Grand Prix Cause Deployed (lap) Called in (lap) Number of full laps
1 1973 Canadian Grand Prix Accident 33 39 5
2 1993 Brazilian Grand Prix Accident/Rain 29 38 8
3 1993 British Grand Prix Stranded car 38 40 1
4 1994 San Marino Grand Prix Accident 1 6 4
5 1995 Belgian Grand Prix Rain 28 33 4
6 1996 Argentine Grand Prix Accident 28 33 4
7 1996 Belgian Grand Prix Accident 13 18 4
8 1997 Argentine Grand Prix Accident 1 6 4
9 1997 Belgian Grand Prix Rain 1 (Race started behind SC) 4 3
10 1998 Canadian Grand Prix Accident 1 6 4
11 Debris 15 18 2
12 Accident 20 22 1
13 1998 British Grand Prix Rain 42 49 6
14 1998 Austrian Grand Prix Two accidents 1 4 2
15 1998 Belgian Grand Prix Accident 28 33 4
16 1999 Australian Grand Prix Accident 15 17 1
17 Accident 20 25 4
18 1999 Canadian Grand Prix Accident 1 3 1
19 Accident 3 8 4
20 Accident 35 41 5
21 Accident 66 NA (Race finished behind SC) 3
22 1999 French Grand Prix Stranded car/Rain 25 36 10
23 1999 European Grand Prix Accident 1 6 4
24 2000 Australian Grand Prix Accident 7 11 3
25 2000 Austrian Grand Prix Accident 1 3 1
26 2000 German Grand Prix Man on track 25 29 3
27 Accident 30 32 1
28 2000 Belgian Grand Prix Rain 1 (Race started behind SC) 2 1
29 2000 Italian Grand Prix Multiple accidents 1 12 11
30 2000 Malaysian Grand Prix Accident 1 3 1
31 2001 Australian Grand Prix Accident 5 15 9
32 2001 Malaysian Grand Prix Rain 4 11 6
33 2001 Brazilian Grand Prix Stranded car 1 3 1
34 2001 Austrian Grand Prix Four stranded cars 1 4 2
35 2001 Canadian Grand Prix Accident 21 24 2
36 2001 Belgian Grand Prix Accident 6 7 (After red flag) 1
37 2002 Australian Grand Prix Accident 1 6 4
38 Accident 9 12 2
39 2002 Austrian Grand Prix Stranded car 24 28 3
40 Accident 28 37 8
41 2002 Canadian Grand Prix Stranded car 14 17 2
42 2003 Australian Grand Prix Two accidents 8 11 2
43 Stranded car 16 20 3
44 2003 Brazilian Grand Prix Rain 1 (Race started behind SC) 9 8
45 Accident 18 24 5
46 Three accidents 27 30 2
47 Accident 33 37 3
48 Two accidents 54 NA (Red flag) 2
49 2003 Austrian Grand Prix Stranded car 1 5 3
50 2003 British Grand Prix Debris from car 5 7 1
51 Man on track 12 15 2
52 2004 Monaco Grand Prix Accident 3 8 4
53 Accident 32 37 4
54 2004 United States Grand Prix Accident 1 6 4
55 Accident 11 20 8
56 2004 Belgian Grand Prix Accident 1 5 3
57 Accident 31 34 2
58 Debris from accident 38 42 3
59 2005 Monaco Grand Prix Stranded car 25 29 3
60 2005 Canadian Grand Prix Accident 46 52 5
61 2005 British Grand Prix Accident 1 3 1
62 2005 Belgian Grand Prix Accident 11 14 2
63 2005 Japanese Grand Prix Accident 1 8 6
64 2005 Chinese Grand Prix Loose drain cover 19 25 5
65 Accident 29 35 5
66 2006 Australian Grand Prix Accident 1 3 1
67 Accident 8 10 1
68 Accident 32 35 2
69 Accident 36 40 3
70 2006 San Marino Grand Prix Accident 1 3 1
71 2006 Monaco Grand Prix Stranded car 47 49 1
72 2006 British Grand Prix Accident 2 4 1
73 2006 Canadian Grand Prix Accident 2 4 1
74 Accident 61 64 2
75 2006 United States Grand Prix Two accidents 1 7 5
76 2006 Hungarian Grand Prix Accident 26 31 4
77 2006 Turkish Grand Prix Stranded car 13 16 2
78 2006 Brazilian Grand Prix Accident 2 6 3
79 2007 Bahrain Grand Prix Accident 1 4 2
80 2007 Canadian Grand Prix Accident 22 26 3
81 Accident 26 34 7
82 Debris from accident 50 54 3
83 Accident 55 60 4
84 2007 European Grand Prix Accidents 3 7 (After red flag) 3
85 2007 Italian Grand Prix Accident 1 7 5
86 2007 Japanese Grand Prix Rain 1 (Race started behind SC) 20 19
87 Accident 41 48 6
88 2008 Australian Grand Prix Accident 1 3 1
89 Accident 26 30 3
90 Accident 44 47 2
91 2008 Spanish Grand Prix Accident 1 4 2
92 Accident 22 29 6
93 2008 Turkish Grand Prix Accident 1 3 1
94 2008 Monaco Grand Prix Accident 8 11 2
95 Accident 62 67 4
96 2008 Canadian Grand Prix Stranded car 16 22 5
97 2008 German Grand Prix Accident 36 42 5
98 2008 Italian Grand Prix Rain 1 (Race started behind SC) 3 2
99 2008 Singapore Grand Prix Accident 14 20 5
100 Accident 46 53 6
101 2008 Brazilian Grand Prix Accident 1 4 2
102 2009 Australian Grand Prix Accident 19 24 4
103 Accident 55 NA (Race finished behind SC) 3
104 2009 Malaysian Grand Prix Rain 31 NA (Red flag) 1
105 2009 Chinese Grand Prix Rain 1 (Race started behind SC) 8 7
106 Debris from accident 18 22 3
107 2009 Spanish Grand Prix Accident 1 5 3
108 2009 Belgian Grand Prix Accident 1 5 3
109 2009 Italian Grand Prix Accident 53 NA (Race finished behind SC) 1
110 2009 Singapore Grand Prix Accident 21 27 5
111 2009 Japanese Grand Prix Accident 1 7 5
112 2009 Brazilian Grand Prix Accident 1 6 5
113 2010 Australian Grand Prix Accident 2 5 2
114 2010 Chinese Grand Prix Accident 1 4 2
115 Debris from accident 22 26 3
116 2010 Monaco Grand Prix Accident 1 7 5
117 Accident 31 34 2
118 Loose drain cover 43 46 2
119 Accident 75 NA (Race finished behind SC) 3
120 2010 European Grand Prix Accident 10 15 4
121 2010 British Grand Prix Debris from car 28 31 2
122 2010 Hungarian Grand Prix Debris from car 15 18 2
123 2010 Belgian Grand Prix Accident 2 4 1
124 Accident 38 41 2
125 2010 Singapore Grand Prix Accident 3 6 2
126 Accident 31 36 4
127 2010 Japanese Grand Prix Accident 1 7 5
128 2010 Korean Grand Prix Rain 1 (Race started behind SC) 4 (After red flag) 3
129 Rain 4 (Race resumed behind SC) 18 14
130 Accident 19 24 4
131 Accident 31 35 3
132 2010 Brazilian Grand Prix Accident 51 56 4
133 2010 Abu Dhabi Grand Prix Accident 1 6 4
134 2011 Monaco Grand Prix Accident 35 39 3
135 2011 Canadian Grand Prix Rain 1 (Race started behind SC) 6 5
136 Accident 8 13 4
137 Rain 20 26 (After red flag) 6
138 Rain 26 (Race resumed behind SC) 34 8
139 Accident 37 40 2
140 Debris from accident 56 61 4
141 2011 Belgian Grand Prix Accident 13 17 3
142 2011 Italian Grand Prix Accident 1 4 3
143 2011 Singapore Grand Prix Accident 30 34 3
144 2011 Japanese Grand Prix Debris from accident 24 28 3
145 2011 Korean Grand Prix Accident 17 21 3
146 2012 Australian Grand Prix Stranded car 37 42 4
147 2012 Malaysian Grand Prix Rain 6 10 (After red flag) 4
148 Rain 10 (Race resumed behind SC) 15 5
149 2012 Monaco Grand Prix Accident 2 3 0
150 2012 European Grand Prix Debris from accident 28 33 4
151 2012 Belgian Grand Prix Accident 1 5 3
152 2012 Singapore Grand Prix Accident 33 38 4
153 Accident 40 42 1
154 2012 Japanese Grand Prix Accident 1 2 0
155 2012 Abu Dhabi Grand Prix Accident 9 14 4
156 Accident 39 42 2
157 2012 Brazilian Grand Prix Debris 23 29 5
158 Accident 70 NA (Race finished behind SC) 1
159 2013 Monaco Grand Prix Accident 31 38 6
160 Accident 47 (Resumed behind SC) 47 0
161 Accident 63 67 3
162 2013 British Grand Prix Debris from car 16 21 4
163 Stranded car 42 45 2
164 2013 German Grand Prix Stranded car 24 29 4
165 2013 Singapore Grand Prix Accident 25 30 4
166 2013 Korean Grand Prix Debris 31 36 4
167 Vehicle on track 38 40 1
168 2013 United States Grand Prix Accident 1 5 3
169 2014 Australian Grand Prix Debris from car 12 16 3
170 2014 Bahrain Grand Prix Accident 42 46 3
171 2014 Monaco Grand Prix Accident 1 5 3
172 Accident 26 30 3
173 2014 Canadian Grand Prix Accident 1 8 6
174 Accident 68 70 (finished under the SC) 1
175 2014 British Grand Prix Accident 1 2 (After red flag) 0
176 2014 German Grand Prix Accident 1 3 1
177 2014 Hungarian Grand Prix Two accidents 8 14 5
178 Accident 23 28 4
179 2014 Singapore Grand Prix Debris from accident 31 37 5
180 2014 Japanese Grand Prix Rain 1 (Race started behind SC) 3 (After red flag) 2
181 Rain 3 (Race resumed behind SC) 9 6
182 Accident 44 NA (Red flag) 4
183 2014 United States Grand Prix Accident 1 5 3
184 2015 Australian Grand Prix Accident 1 4 2
185 2015 Malaysian Grand Prix Accident 4 7 2
186 2015 Chinese Grand Prix Stranded car 54 NA (Race finished behind SC) 1
187 2015 Monaco Grand Prix Accident 64 70 5
188 2015 Austrian Grand Prix Accident 1 7 5
189 2015 British Grand Prix Accident 1 4 2
190 2015 Hungarian Grand Prix Accident 44 48 3
191 2015 Singapore Grand Prix Debris from accident 15 18 2
192 Man on track 37 40 2
193 2015 Russian Grand Prix Accident 1 4 2
194 Accident 12 18 5
195 2015 United States Grand Prix Stranded car 27 32 4
196 Accident 43 47 3
197 2015 Mexican Grand Prix Accident 52 57 4
198 2016 Australian Grand Prix Accident 18 19 (After red flag) 0
199 2016 Chinese Grand Prix Debris from car 4 10 5
200 2016 Russian Grand Prix Accident 1 4 2
201 2016 Monaco Grand Prix Rain 1 (Race started behind SC) 8 7
202 2016 Austrian Grand Prix Debris from car 27 31 3
203 2016 British Grand Prix Rain 1 (Race started behind SC) 6 5
204 2016 Belgian Grand Prix Accident 6 10 3
205 2016 Singapore Grand Prix Accident 1 2 0
206 2016 Mexican Grand Prix Accident 1 4 2
207 2016 Brazilian Grand Prix Rain 1 (Race started behind SC) 7 6
208 Accident 13 20 (Red Flag) 6
209 Rain 21 (Race resumed behind SC) 32 (After red flag) 11
210 Accident 48 55 6
211 2017 Chinese Grand Prix Accident 4 8 3
212 2017 Bahrain Grand Prix Accident 13 16 2
213 2017 Russian Grand Prix Accident 1 3 1
214 2017 Canadian Grand Prix Accident 1 3 1
215 2017 Monaco Grand Prix Accident 60 66 5
216 2017 Azerbaijan Grand Prix Stranded car 12 16 3
217 Debris from car 17 19 1
218 Debris from accident 20 23 (After red flag) 2
219 2017 British Grand Prix Accident 2 4 1
220 2017 Hungarian Grand Prix Accident 1 5 3
221 2017 Belgian Grand Prix Debris from accident 30 33 2
222 2017 Singapore Grand Prix Accident 1 4 2
223 Accident 11 14 2
224 Accident 38 41 2
225 2017 Japanese Grand Prix Accident 2 3 0
226 2017 Brazilian Grand Prix Accident 1 5 3
227 2018 Australian Grand Prix Stranded car 28 31 2
228 2018 Chinese Grand Prix Debris from accident 31 35 3
229 2018 Azerbaijan Grand Prix Two accidents 1 4 2
230 Two accidents 40 47 6
231 2018 Spanish Grand Prix Accident 1 6 4
232 2018 Canadian Grand Prix Accident 1 4 2
233 2018 French Grand Prix Accident 1 5 3
234 2018 British Grand Prix Accident 33 37 3
235 Accident 39 41 1
236 2018 German Grand Prix Accident 52 57 4
237 2018 Belgian Grand Prix Accident 1 4 2
238 2018 Italian Grand Prix Accident 1 3 1
239 2018 Singapore Grand Prix Accident 1 4 2
240 2018 Japanese Grand Prix Debris from accident 4 7 2
241 2018 Abu Dhabi Grand Prix Accident 1 4 2
242 2019 Bahrain Grand Prix Two stranded cars 55 NA (Race finished behind SC) 2
243 2019 Spanish Grand Prix Accident 46 52 5
244 2019 Monaco Grand Prix Debris from accident 11 14 2
245 2019 British Grand Prix Accident 20 23 2
246 2019 German Grand Prix Accident 3 4 0
247 Accident 29 33 3
248 Accident 41 45 3
249 Accident 57 59 1
250 2019 Belgian Grand Prix Accident 1 4 2
251 2019 Singapore Grand Prix Debris from accident 36 40 3
252 Stranded car 44 47 2
253 Accident 50 51 0
254 2019 Russian Grand Prix Accident 1 3 1
255 Accident 29 32 2
256 2019 Brazilian Grand Prix Stranded car 54 59 4
257 Accident 66 69 2
258 2020 Austrian Grand Prix Stranded car 26 30 3
259 Stranded car 51 54 2
260 Stranded car 55 60 4
261 2020 Styrian Grand Prix Debris from accident 1 3 1
262 2020 British Grand Prix Accident 2 5 2
263 Accident 13 18 4
264 2020 Belgian Grand Prix Two accidents 11 14 2
265 2020 Italian Grand Prix Stranded car 20 23 2
266 Accident 25 28 (After red flag) 2
267 2020 Tuscan Grand Prix Accident 1 6 4
268 Accident 7 9 (After red flag) 1
269 Accident 44 46 (After red flag) 1
270 2020 Russian Grand Prix Two accidents 1 5 3
271 2020 Eifel Grand Prix Stranded car 45 49 3
272 2020 Emilia-Romagna Grand Prix Accident 51 57 5
273 2020 Bahrain Grand Prix Accident 3 8 4
274 Stranded car 55 NA (Race finished behind SC) 2
275 2020 Sakhir Grand Prix Accident 1 6 4
276 Accident 62 68 5
277 2020 Abu Dhabi Grand Prix Stranded car 11 13 1
278 2021 Bahrain Grand Prix Accident 1 3 1
279 2021 Emilia-Romagna Grand Prix Accident 2 6 3
280 2021 Emilia-Romagna Grand Prix Accident 32 34 (After red flag) 1
281 2021 Portuguese Grand Prix Accident 2 6 3
282 2021 Spanish Grand Prix Stranded car 8 10 1
283 2021 Azerbaijan Grand Prix Accident 31 35 3
284 Accident 47 49 (After red flag) 1
285 2021 Austrian Grand Prix Stranded car 1 3 1
286 2021 British Grand Prix Accident 1 4 (After red flag) 2
287 2021 Hungarian Grand Prix Accident 1 3 (After red flag) 1
288 2021 Belgian Grand Prix Rain 1 (Race started behind SC) NA (Red flag) 2
289 2021 Italian Grand Prix Accident 26 30 3
290 2021 Mexico City Grand Prix Accident 1 4 2
291 2021 São Paulo Grand Prix Debris 6 9 2
292 2021 Saudi Arabian Grand Prix Accident 10 14 (After red flag) 3
293 2021 Abu Dhabi Grand Prix Accident 53 57 3
294 2022 Bahrain Grand Prix Stranded Car 46 50 3
295 2022 Saudi Arabian Grand Prix Accident 16 20 3
296 2022 Australian Grand Prix Beached car (Sainz) 3 6 2
297 Accident (Vettel) 23 26 2
298 2022 Emilia Romagna Sprint Accident (Zhou) 1 4 2
299 2022 Emilia Romagna Grand Prix Accident (Sainz) 1 4 2
300 2022 Miami Grand Prix Accident 42 46 3
301 2022 São Paulo Grand Prix Accident (Ricciardo and Magnussen) 1 6 5

In [960]:
filas = tabla[1].find_elements(By.TAG_NAME, 'tr')
print(filas[0].text)

Grand Prix Cause Deployed (lap) Called in (lap) Number of full laps

In [961]:
data = []


for f in filas:
    
    elems = f.find_elements(By.TAG_NAME, 'td')
    
    tmp = []
    
    for e in elems:
        tmp.append(e.text)
        
    data.append(tmp)
    
    
print(data)

[[], ['1973 Canadian Grand Prix', 'Accident', '33', '39', '5'], ['1993 Brazilian Grand Prix', 'Accident/Rain', '29', '38', '8'], ['1993 British Grand Prix', 'Stranded car', '38', '40', '1'], ['1994 San Marino Grand Prix', 'Accident', '1', '6', '4'], ['1995 Belgian Grand Prix', 'Rain', '28', '33', '4'], ['1996 Argentine Grand Prix', 'Accident', '28', '33', '4'], ['1996 Belgian Grand Prix', 'Accident', '13', '18', '4'], ['1997 Argentine Grand Prix', 'Accident', '1', '6', '4'], ['1997 Belgian Grand Prix', 'Rain', '1 (Race started behind SC)', '4', '3'], ['1998 Canadian Grand Prix', 'Accident', '1', '6', '4'], ['Debris', '15', '18', '2'], ['Accident', '20', '22', '1'], ['1998 British Grand Prix', 'Rain', '42', '49', '6'], ['1998 Austrian Grand Prix', 'Two accidents', '1', '4', '2'], ['1998 Belgian Grand Prix', 'Accident', '28', '33', '4'], ['1999 Australian Grand Prix', 'Accident', '15', '17', '1'], ['Accident', '20', '25', '4'], ['1999 Canadian Grand Prix', 'Accident', '1', '3', '1'], ['Accident', '3', '8', '4'], ['Accident', '35', '41', '5'], ['Accident', '66', 'NA (Race finished behind SC)', '3'], ['1999 French Grand Prix', 'Stranded car/Rain', '25', '36', '10'], ['1999 European Grand Prix', 'Accident', '1', '6', '4'], ['2000 Australian Grand Prix', 'Accident', '7', '11', '3'], ['2000 Austrian Grand Prix', 'Accident', '1', '3', '1'], ['2000 German Grand Prix', 'Man on track', '25', '29', '3'], ['Accident', '30', '32', '1'], ['2000 Belgian Grand Prix', 'Rain', '1 (Race started behind SC)', '2', '1'], ['2000 Italian Grand Prix', 'Multiple accidents', '1', '12', '11'], ['2000 Malaysian Grand Prix', 'Accident', '1', '3', '1'], ['2001 Australian Grand Prix', 'Accident', '5', '15', '9'], ['2001 Malaysian Grand Prix', 'Rain', '4', '11', '6'], ['2001 Brazilian Grand Prix', 'Stranded car', '1', '3', '1'], ['2001 Austrian Grand Prix', 'Four stranded cars', '1', '4', '2'], ['2001 Canadian Grand Prix', 'Accident', '21', '24', '2'], ['2001 Belgian Grand Prix', 'Accident', '6', '7 (After red flag)', '1'], ['2002 Australian Grand Prix', 'Accident', '1', '6', '4'], ['Accident', '9', '12', '2'], ['2002 Austrian Grand Prix', 'Stranded car', '24', '28', '3'], ['Accident', '28', '37', '8'], ['2002 Canadian Grand Prix', 'Stranded car', '14', '17', '2'], ['2003 Australian Grand Prix', 'Two accidents', '8', '11', '2'], ['Stranded car', '16', '20', '3'], ['2003 Brazilian Grand Prix', 'Rain', '1 (Race started behind SC)', '9', '8'], ['Accident', '18', '24', '5'], ['Three accidents', '27', '30', '2'], ['Accident', '33', '37', '3'], ['Two accidents', '54', 'NA (Red flag)', '2'], ['2003 Austrian Grand Prix', 'Stranded car', '1', '5', '3'], ['2003 British Grand Prix', 'Debris from car', '5', '7', '1'], ['Man on track', '12', '15', '2'], ['2004 Monaco Grand Prix', 'Accident', '3', '8', '4'], ['Accident', '32', '37', '4'], ['2004 United States Grand Prix', 'Accident', '1', '6', '4'], ['Accident', '11', '20', '8'], ['2004 Belgian Grand Prix', 'Accident', '1', '5', '3'], ['Accident', '31', '34', '2'], ['Debris from accident', '38', '42', '3'], ['2005 Monaco Grand Prix', 'Stranded car', '25', '29', '3'], ['2005 Canadian Grand Prix', 'Accident', '46', '52', '5'], ['2005 British Grand Prix', 'Accident', '1', '3', '1'], ['2005 Belgian Grand Prix', 'Accident', '11', '14', '2'], ['2005 Japanese Grand Prix', 'Accident', '1', '8', '6'], ['2005 Chinese Grand Prix', 'Loose drain cover', '19', '25', '5'], ['Accident', '29', '35', '5'], ['2006 Australian Grand Prix', 'Accident', '1', '3', '1'], ['Accident', '8', '10', '1'], ['Accident', '32', '35', '2'], ['Accident', '36', '40', '3'], ['2006 San Marino Grand Prix', 'Accident', '1', '3', '1'], ['2006 Monaco Grand Prix', 'Stranded car', '47', '49', '1'], ['2006 British Grand Prix', 'Accident', '2', '4', '1'], ['2006 Canadian Grand Prix', 'Accident', '2', '4', '1'], ['Accident', '61', '64', '2'], ['2006 United States Grand Prix', 'Two accidents', '1', '7', '5'], ['2006 Hungarian Grand Prix', 'Accident', '26', '31', '4'], ['2006 Turkish Grand Prix', 'Stranded car', '13', '16', '2'], ['2006 Brazilian Grand Prix', 'Accident', '2', '6', '3'], ['2007 Bahrain Grand Prix', 'Accident', '1', '4', '2'], ['2007 Canadian Grand Prix', 'Accident', '22', '26', '3'], ['Accident', '26', '34', '7'], ['Debris from accident', '50', '54', '3'], ['Accident', '55', '60', '4'], ['2007 European Grand Prix', 'Accidents', '3', '7 (After red flag)', '3'], ['2007 Italian Grand Prix', 'Accident', '1', '7', '5'], ['2007 Japanese Grand Prix', 'Rain', '1 (Race started behind SC)', '20', '19'], ['Accident', '41', '48', '6'], ['2008 Australian Grand Prix', 'Accident', '1', '3', '1'], ['Accident', '26', '30', '3'], ['Accident', '44', '47', '2'], ['2008 Spanish Grand Prix', 'Accident', '1', '4', '2'], ['Accident', '22', '29', '6'], ['2008 Turkish Grand Prix', 'Accident', '1', '3', '1'], ['2008 Monaco Grand Prix', 'Accident', '8', '11', '2'], ['Accident', '62', '67', '4'], ['2008 Canadian Grand Prix', 'Stranded car', '16', '22', '5'], ['2008 German Grand Prix', 'Accident', '36', '42', '5'], ['2008 Italian Grand Prix', 'Rain', '1 (Race started behind SC)', '3', '2'], ['2008 Singapore Grand Prix', 'Accident', '14', '20', '5'], ['Accident', '46', '53', '6'], ['2008 Brazilian Grand Prix', 'Accident', '1', '4', '2'], ['2009 Australian Grand Prix', 'Accident', '19', '24', '4'], ['Accident', '55', 'NA (Race finished behind SC)', '3'], ['2009 Malaysian Grand Prix', 'Rain', '31', 'NA (Red flag)', '1'], ['2009 Chinese Grand Prix', 'Rain', '1 (Race started behind SC)', '8', '7'], ['Debris from accident', '18', '22', '3'], ['2009 Spanish Grand Prix', 'Accident', '1', '5', '3'], ['2009 Belgian Grand Prix', 'Accident', '1', '5', '3'], ['2009 Italian Grand Prix', 'Accident', '53', 'NA (Race finished behind SC)', '1'], ['2009 Singapore Grand Prix', 'Accident', '21', '27', '5'], ['2009 Japanese Grand Prix', 'Accident', '1', '7', '5'], ['2009 Brazilian Grand Prix', 'Accident', '1', '6', '5'], ['2010 Australian Grand Prix', 'Accident', '2', '5', '2'], ['2010 Chinese Grand Prix', 'Accident', '1', '4', '2'], ['Debris from accident', '22', '26', '3'], ['2010 Monaco Grand Prix', 'Accident', '1', '7', '5'], ['Accident', '31', '34', '2'], ['Loose drain cover', '43', '46', '2'], ['Accident', '75', 'NA (Race finished behind SC)', '3'], ['2010 European Grand Prix', 'Accident', '10', '15', '4'], ['2010 British Grand Prix', 'Debris from car', '28', '31', '2'], ['2010 Hungarian Grand Prix', 'Debris from car', '15', '18', '2'], ['2010 Belgian Grand Prix', 'Accident', '2', '4', '1'], ['Accident', '38', '41', '2'], ['2010 Singapore Grand Prix', 'Accident', '3', '6', '2'], ['Accident', '31', '36', '4'], ['2010 Japanese Grand Prix', 'Accident', '1', '7', '5'], ['2010 Korean Grand Prix', 'Rain', '1 (Race started behind SC)', '4 (After red flag)', '3'], ['Rain', '4 (Race resumed behind SC)', '18', '14'], ['Accident', '19', '24', '4'], ['Accident', '31', '35', '3'], ['2010 Brazilian Grand Prix', 'Accident', '51', '56', '4'], ['2010 Abu Dhabi Grand Prix', 'Accident', '1', '6', '4'], ['2011 Monaco Grand Prix', 'Accident', '35', '39', '3'], ['2011 Canadian Grand Prix', 'Rain', '1 (Race started behind SC)', '6', '5'], ['Accident', '8', '13', '4'], ['Rain', '20', '26 (After red flag)', '6'], ['Rain', '26 (Race resumed behind SC)', '34', '8'], ['Accident', '37', '40', '2'], ['Debris from accident', '56', '61', '4'], ['2011 Belgian Grand Prix', 'Accident', '13', '17', '3'], ['2011 Italian Grand Prix', 'Accident', '1', '4', '3'], ['2011 Singapore Grand Prix', 'Accident', '30', '34', '3'], ['2011 Japanese Grand Prix', 'Debris from accident', '24', '28', '3'], ['2011 Korean Grand Prix', 'Accident', '17', '21', '3'], ['2012 Australian Grand Prix', 'Stranded car', '37', '42', '4'], ['2012 Malaysian Grand Prix', 'Rain', '6', '10 (After red flag)', '4'], ['Rain', '10 (Race resumed behind SC)', '15', '5'], ['2012 Monaco Grand Prix', 'Accident', '2', '3', '0'], ['2012 European Grand Prix', 'Debris from accident', '28', '33', '4'], ['2012 Belgian Grand Prix', 'Accident', '1', '5', '3'], ['2012 Singapore Grand Prix', 'Accident', '33', '38', '4'], ['Accident', '40', '42', '1'], ['2012 Japanese Grand Prix', 'Accident', '1', '2', '0'], ['2012 Abu Dhabi Grand Prix', 'Accident', '9', '14', '4'], ['Accident', '39', '42', '2'], ['2012 Brazilian Grand Prix', 'Debris', '23', '29', '5'], ['Accident', '70', 'NA (Race finished behind SC)', '1'], ['2013 Monaco Grand Prix', 'Accident', '31', '38', '6'], ['Accident', '47 (Resumed behind SC)', '47', '0'], ['Accident', '63', '67', '3'], ['2013 British Grand Prix', 'Debris from car', '16', '21', '4'], ['Stranded car', '42', '45', '2'], ['2013 German Grand Prix', 'Stranded car', '24', '29', '4'], ['2013 Singapore Grand Prix', 'Accident', '25', '30', '4'], ['2013 Korean Grand Prix', 'Debris', '31', '36', '4'], ['Vehicle on track', '38', '40', '1'], ['2013 United States Grand Prix', 'Accident', '1', '5', '3'], ['2014 Australian Grand Prix', 'Debris from car', '12', '16', '3'], ['2014 Bahrain Grand Prix', 'Accident', '42', '46', '3'], ['2014 Monaco Grand Prix', 'Accident', '1', '5', '3'], ['Accident', '26', '30', '3'], ['2014 Canadian Grand Prix', 'Accident', '1', '8', '6'], ['Accident', '68', '70 (finished under the SC)', '1'], ['2014 British Grand Prix', 'Accident', '1', '2 (After red flag)', '0'], ['2014 German Grand Prix', 'Accident', '1', '3', '1'], ['2014 Hungarian Grand Prix', 'Two accidents', '8', '14', '5'], ['Accident', '23', '28', '4'], ['2014 Singapore Grand Prix', 'Debris from accident', '31', '37', '5'], ['2014 Japanese Grand Prix', 'Rain', '1 (Race started behind SC)', '3 (After red flag)', '2'], ['Rain', '3 (Race resumed behind SC)', '9', '6'], ['Accident', '44', 'NA (Red flag)', '4'], ['2014 United States Grand Prix', 'Accident', '1', '5', '3'], ['2015 Australian Grand Prix', 'Accident', '1', '4', '2'], ['2015 Malaysian Grand Prix', 'Accident', '4', '7', '2'], ['2015 Chinese Grand Prix', 'Stranded car', '54', 'NA (Race finished behind SC)', '1'], ['2015 Monaco Grand Prix', 'Accident', '64', '70', '5'], ['2015 Austrian Grand Prix', 'Accident', '1', '7', '5'], ['2015 British Grand Prix', 'Accident', '1', '4', '2'], ['2015 Hungarian Grand Prix', 'Accident', '44', '48', '3'], ['2015 Singapore Grand Prix', 'Debris from accident', '15', '18', '2'], ['Man on track', '37', '40', '2'], ['2015 Russian Grand Prix', 'Accident', '1', '4', '2'], ['Accident', '12', '18', '5'], ['2015 United States Grand Prix', 'Stranded car', '27', '32', '4'], ['Accident', '43', '47', '3'], ['2015 Mexican Grand Prix', 'Accident', '52', '57', '4'], ['2016 Australian Grand Prix', 'Accident', '18', '19 (After red flag)', '0'], ['2016 Chinese Grand Prix', 'Debris from car', '4', '10', '5'], ['2016 Russian Grand Prix', 'Accident', '1', '4', '2'], ['2016 Monaco Grand Prix', 'Rain', '1 (Race started behind SC)', '8', '7'], ['2016 Austrian Grand Prix', 'Debris from car', '27', '31', '3'], ['2016 British Grand Prix', 'Rain', '1 (Race started behind SC)', '6', '5'], ['2016 Belgian Grand Prix', 'Accident', '6', '10', '3'], ['2016 Singapore Grand Prix', 'Accident', '1', '2', '0'], ['2016 Mexican Grand Prix', 'Accident', '1', '4', '2'], ['2016 Brazilian Grand Prix', 'Rain', '1 (Race started behind SC)', '7', '6'], ['Accident', '13', '20 (Red Flag)', '6'], ['Rain', '21 (Race resumed behind SC)', '32 (After red flag)', '11'], ['Accident', '48', '55', '6'], ['2017 Chinese Grand Prix', 'Accident', '4', '8', '3'], ['2017 Bahrain Grand Prix', 'Accident', '13', '16', '2'], ['2017 Russian Grand Prix', 'Accident', '1', '3', '1'], ['2017 Canadian Grand Prix', 'Accident', '1', '3', '1'], ['2017 Monaco Grand Prix', 'Accident', '60', '66', '5'], ['2017 Azerbaijan Grand Prix', 'Stranded car', '12', '16', '3'], ['Debris from car', '17', '19', '1'], ['Debris from accident', '20', '23 (After red flag)', '2'], ['2017 British Grand Prix', 'Accident', '2', '4', '1'], ['2017 Hungarian Grand Prix', 'Accident', '1', '5', '3'], ['2017 Belgian Grand Prix', 'Debris from accident', '30', '33', '2'], ['2017 Singapore Grand Prix', 'Accident', '1', '4', '2'], ['Accident', '11', '14', '2'], ['Accident', '38', '41', '2'], ['2017 Japanese Grand Prix', 'Accident', '2', '3', '0'], ['2017 Brazilian Grand Prix', 'Accident', '1', '5', '3'], ['2018 Australian Grand Prix', 'Stranded car', '28', '31', '2'], ['2018 Chinese Grand Prix', 'Debris from accident', '31', '35', '3'], ['2018 Azerbaijan Grand Prix', 'Two accidents', '1', '4', '2'], ['Two accidents', '40', '47', '6'], ['2018 Spanish Grand Prix', 'Accident', '1', '6', '4'], ['2018 Canadian Grand Prix', 'Accident', '1', '4', '2'], ['2018 French Grand Prix', 'Accident', '1', '5', '3'], ['2018 British Grand Prix', 'Accident', '33', '37', '3'], ['Accident', '39', '41', '1'], ['2018 German Grand Prix', 'Accident', '52', '57', '4'], ['2018 Belgian Grand Prix', 'Accident', '1', '4', '2'], ['2018 Italian Grand Prix', 'Accident', '1', '3', '1'], ['2018 Singapore Grand Prix', 'Accident', '1', '4', '2'], ['2018 Japanese Grand Prix', 'Debris from accident', '4', '7', '2'], ['2018 Abu Dhabi Grand Prix', 'Accident', '1', '4', '2'], ['2019 Bahrain Grand Prix', 'Two stranded cars', '55', 'NA (Race finished behind SC)', '2'], ['2019 Spanish Grand Prix', 'Accident', '46', '52', '5'], ['2019 Monaco Grand Prix', 'Debris from accident', '11', '14', '2'], ['2019 British Grand Prix', 'Accident', '20', '23', '2'], ['2019 German Grand Prix', 'Accident', '3', '4', '0'], ['Accident', '29', '33', '3'], ['Accident', '41', '45', '3'], ['Accident', '57', '59', '1'], ['2019 Belgian Grand Prix', 'Accident', '1', '4', '2'], ['2019 Singapore Grand Prix', 'Debris from accident', '36', '40', '3'], ['Stranded car', '44', '47', '2'], ['Accident', '50', '51', '0'], ['2019 Russian Grand Prix', 'Accident', '1', '3', '1'], ['Accident', '29', '32', '2'], ['2019 Brazilian Grand Prix', 'Stranded car', '54', '59', '4'], ['Accident', '66', '69', '2'], ['2020 Austrian Grand Prix', 'Stranded car', '26', '30', '3'], ['Stranded car', '51', '54', '2'], ['Stranded car', '55', '60', '4'], ['2020 Styrian Grand Prix', 'Debris from accident', '1', '3', '1'], ['2020 British Grand Prix', 'Accident', '2', '5', '2'], ['Accident', '13', '18', '4'], ['2020 Belgian Grand Prix', 'Two accidents', '11', '14', '2'], ['2020 Italian Grand Prix', 'Stranded car', '20', '23', '2'], ['Accident', '25', '28 (After red flag)', '2'], ['2020 Tuscan Grand Prix', 'Accident', '1', '6', '4'], ['Accident', '7', '9 (After red flag)', '1'], ['Accident', '44', '46 (After red flag)', '1'], ['2020 Russian Grand Prix', 'Two accidents', '1', '5', '3'], ['2020 Eifel Grand Prix', 'Stranded car', '45', '49', '3'], ['2020 Emilia-Romagna Grand Prix', 'Accident', '51', '57', '5'], ['2020 Bahrain Grand Prix', 'Accident', '3', '8', '4'], ['Stranded car', '55', 'NA (Race finished behind SC)', '2'], ['2020 Sakhir Grand Prix', 'Accident', '1', '6', '4'], ['Accident', '62', '68', '5'], ['2020 Abu Dhabi Grand Prix', 'Stranded car', '11', '13', '1'], ['2021 Bahrain Grand Prix', 'Accident', '1', '3', '1'], ['2021 Emilia-Romagna Grand Prix', 'Accident', '2', '6', '3'], ['2021 Emilia-Romagna Grand Prix', 'Accident', '32', '34 (After red flag)', '1'], ['2021 Portuguese Grand Prix', 'Accident', '2', '6', '3'], ['2021 Spanish Grand Prix', 'Stranded car', '8', '10', '1'], ['2021 Azerbaijan Grand Prix', 'Accident', '31', '35', '3'], ['Accident', '47', '49 (After red flag)', '1'], ['2021 Austrian Grand Prix', 'Stranded car', '1', '3', '1'], ['2021 British Grand Prix', 'Accident', '1', '4 (After red flag)', '2'], ['2021 Hungarian Grand Prix', 'Accident', '1', '3 (After red flag)', '1'], ['2021 Belgian Grand Prix', 'Rain', '1 (Race started behind SC)', 'NA (Red flag)', '2'], ['2021 Italian Grand Prix', 'Accident', '26', '30', '3'], ['2021 Mexico City Grand Prix', 'Accident', '1', '4', '2'], ['2021 São Paulo Grand Prix', 'Debris', '6', '9', '2'], ['2021 Saudi Arabian Grand Prix', 'Accident', '10', '14 (After red flag)', '3'], ['2021 Abu Dhabi Grand Prix', 'Accident', '53', '57', '3'], ['2022 Bahrain Grand Prix', 'Stranded Car', '46', '50', '3'], ['2022 Saudi Arabian Grand Prix', 'Accident', '16', '20', '3'], ['2022 Australian Grand Prix', 'Beached car (Sainz)', '3', '6', '2'], ['Accident (Vettel)', '23', '26', '2'], ['2022 Emilia Romagna Sprint', 'Accident (Zhou)', '1', '4', '2'], ['2022 Emilia Romagna Grand Prix', 'Accident (Sainz)', '1', '4', '2'], ['2022 Miami Grand Prix', 'Accident', '42', '46', '3'], ['2022 São Paulo Grand Prix', 'Accident (Ricciardo and Magnussen)', '1', '6', '5']]

In [962]:
# cab = tabla[1].find_element(By.TAG_NAME, 'tr')

# texto = cab
# tempo = texto.text.split()
# print(tempo)

In [963]:
Safety_Car = pd.DataFrame(data)

Safety_Car.head(15)

,0,1,2,3,4
0,None,None,None,None,None
1,1973 Canadian Grand Prix,Accident,33,39,5
2,1993 Brazilian Grand Prix,Accident/Rain,29,38,8
3,1993 British Grand Prix,Stranded car,38,40,1
4,1994 San Marino Grand Prix,Accident,1,6,4
5,1995 Belgian Grand Prix,Rain,28,33,4
6,1996 Argentine Grand Prix,Accident,28,33,4
7,1996 Belgian Grand Prix,Accident,13,18,4
8,1997 Argentine Grand Prix,Accident,1,6,4
9,1997 Belgian Grand Prix,Rain,1 (Race started behind SC),4,3
10,1998 Canadian Grand Prix,Accident,1,6,4
11,Debris,15,18,2,None
12,Accident,20,22,1,None
13,1998 British Grand Prix,Rain,42,49,6
14,1998 Austrian Grand Prix,Two accidents,1,4,2

In [964]:
new_col = ['Grand Prix', 'Cause', 'Deployed (lap)', 'Called in (lap)', 'Number of full laps']
Safety_Car.columns = new_col

Safety_Car.head(15)

,Grand Prix,Cause,Deployed (lap),Called in (lap),Number of full laps
0,None,None,None,None,None
1,1973 Canadian Grand Prix,Accident,33,39,5
2,1993 Brazilian Grand Prix,Accident/Rain,29,38,8
3,1993 British Grand Prix,Stranded car,38,40,1
4,1994 San Marino Grand Prix,Accident,1,6,4
5,1995 Belgian Grand Prix,Rain,28,33,4
6,1996 Argentine Grand Prix,Accident,28,33,4
7,1996 Belgian Grand Prix,Accident,13,18,4
8,1997 Argentine Grand Prix,Accident,1,6,4
9,1997 Belgian Grand Prix,Rain,1 (Race started behind SC),4,3
10,1998 Canadian Grand Prix,Accident,1,6,4
11,Debris,15,18,2,None
12,Accident,20,22,1,None
13,1998 British Grand Prix,Rain,42,49,6
14,1998 Austrian Grand Prix,Two accidents,1,4,2

In [965]:
Safety_Car = Safety_Car.drop(0).reset_index(drop=True)

In [966]:
for i in range(len(df['Grand Prix'])):
    if Safety_Car['Grand Prix'][i] is not None and 'Grand Prix' not in Safety_Car['Grand Prix'][i]:
        Safety_Car['Number of full laps'][i] = Safety_Car['Called in (lap)'][i]
        Safety_Car['Called in (lap)'][i] = Safety_Car['Deployed (lap)'][i]
        Safety_Car['Deployed (lap)'][i] = Safety_Car['Cause'][i]
        Safety_Car['Cause'][i] = Safety_Car['Grand Prix'][i]
        Safety_Car['Grand Prix'][i] = Safety_Car['Grand Prix'][i-1]

In [967]:
Safety_Car.tail()

,Grand Prix,Cause,Deployed (lap),Called in (lap),Number of full laps
296,2022 Australian Grand Prix,Accident (Vettel),23,26,2
297,2022 Australian Grand Prix,2022 Emilia Romagna Sprint,Accident (Zhou),1,4
298,2022 Emilia Romagna Grand Prix,Accident (Sainz),1,4,2
299,2022 Miami Grand Prix,Accident,42,46,3
300,2022 São Paulo Grand Prix,Accident (Ricciardo and Magnussen),1,6,5

In [968]:
# Seleccionar la fila con índice 296
fila_297 = Safety_Car.loc[297]

# Modificar la información de la fila a tu gusto
fila_297['Grand Prix'] = '2022 Emilia Romagna Sprint'
fila_297['Cause'] = 'Accident (Zhou)'
fila_297['Deployed (lap)'] = 1
fila_297['Called in (lap)'] = 4
fila_297['Number of full laps'] = 2

# Asignar la fila modificada de vuelta al DataFrame
Safety_Car.loc[297] = fila_297

In [969]:
Safety_Car.tail()

,Grand Prix,Cause,Deployed (lap),Called in (lap),Number of full laps
296,2022 Australian Grand Prix,Accident (Vettel),23,26,2
297,2022 Emilia Romagna Sprint,Accident (Zhou),1,4,2
298,2022 Emilia Romagna Grand Prix,Accident (Sainz),1,4,2
299,2022 Miami Grand Prix,Accident,42,46,3
300,2022 São Paulo Grand Prix,Accident (Ricciardo and Magnussen),1,6,5

In [970]:
Safety_Car.head()

,Grand Prix,Cause,Deployed (lap),Called in (lap),Number of full laps
0,1973 Canadian Grand Prix,Accident,33,39,5
1,1993 Brazilian Grand Prix,Accident/Rain,29,38,8
2,1993 British Grand Prix,Stranded car,38,40,1
3,1994 San Marino Grand Prix,Accident,1,6,4
4,1995 Belgian Grand Prix,Rain,28,33,4

In [971]:
Safety_Car['Year'] = Safety_Car['Grand Prix'].str.extract('(\d{4})')
Safety_Car.head()

,Grand Prix,Cause,Deployed (lap),Called in (lap),Number of full laps,Year
0,1973 Canadian Grand Prix,Accident,33,39,5,1973
1,1993 Brazilian Grand Prix,Accident/Rain,29,38,8,1993
2,1993 British Grand Prix,Stranded car,38,40,1,1993
3,1994 San Marino Grand Prix,Accident,1,6,4,1994
4,1995 Belgian Grand Prix,Rain,28,33,4,1995

In [972]:
Safety_Car['Grand Prix'] = Safety_Car['Grand Prix'].str.replace(r'^\d{4}\s', '', regex=True)
Safety_Car.head()

,Grand Prix,Cause,Deployed (lap),Called in (lap),Number of full laps,Year
0,Canadian Grand Prix,Accident,33,39,5,1973
1,Brazilian Grand Prix,Accident/Rain,29,38,8,1993
2,British Grand Prix,Stranded car,38,40,1,1993
3,San Marino Grand Prix,Accident,1,6,4,1994
4,Belgian Grand Prix,Rain,28,33,4,1995

In [973]:
Safety_Car['Grand Prix'].unique()

array(['Canadian Grand Prix', 'Brazilian Grand Prix',
       'British Grand Prix', 'San Marino Grand Prix',
       'Belgian Grand Prix', 'Argentine Grand Prix',
       'Austrian Grand Prix', 'Australian Grand Prix',
       'French Grand Prix', 'European Grand Prix', 'German Grand Prix',
       'Italian Grand Prix', 'Malaysian Grand Prix', 'Monaco Grand Prix',
       'United States Grand Prix', 'Japanese Grand Prix',
       'Chinese Grand Prix', 'Hungarian Grand Prix', 'Turkish Grand Prix',
       'Bahrain Grand Prix', 'Spanish Grand Prix', 'Singapore Grand Prix',
       'Korean Grand Prix', 'Abu Dhabi Grand Prix', 'Russian Grand Prix',
       'Mexican Grand Prix', 'Azerbaijan Grand Prix',
       'Styrian Grand Prix', 'Tuscan Grand Prix', 'Eifel Grand Prix',
       'Emilia-Romagna Grand Prix', 'Sakhir Grand Prix',
       'Portuguese Grand Prix', 'Mexico City Grand Prix',
       'São Paulo Grand Prix', 'Saudi Arabian Grand Prix',
       'Emilia Romagna Sprint', 'Emilia Romagna Grand Prix',
       'Miami Grand Prix'], dtype=object)

In [974]:
Safety_Car = Safety_Car.sort_values(by = 'Year', ascending = False)
Safety_Car = Safety_Car.reset_index(drop = True)

Safety_Car.head()

,Grand Prix,Cause,Deployed (lap),Called in (lap),Number of full laps,Year
0,São Paulo Grand Prix,Accident (Ricciardo and Magnussen),1,6,5,2022
1,Miami Grand Prix,Accident,42,46,3,2022
2,Emilia Romagna Grand Prix,Accident (Sainz),1,4,2,2022
3,Emilia Romagna Sprint,Accident (Zhou),1,4,2,2022
4,Australian Grand Prix,Accident (Vettel),23,26,2,2022

In [975]:
# df.shape

In [976]:
# df.info()

In [977]:
# df['Number of full laps'] = df['Number of full laps'].astype(dtype = 'int8')
# df['year'] = df['year'].astype(dtype = 'int8')

In [978]:
# df.info()

In [979]:
# data_merged.shape

In [980]:
# data_merged.info()

In [981]:
# data_merged['race_id'] = data_merged['race_id'].astype(dtype = 'int8')
# data_merged['year'] = data_merged['year'].astype(dtype = 'int8')
# data_merged['race_num'] = data_merged['race_num'].astype(dtype = 'int8')
# data_merged['circuit_id'] = data_merged['circuit_id'].astype(dtype = 'int8')
# data_merged['date'] = data_merged['date'].astype(dtype = 'datetime64[ns]')

In [982]:
# data_merged.info()

In [983]:
Data_Circuits.head()

,Race ID,Year,Race Number,Circuit ID,Grand Prix,Date,Time,Name,Location,Country
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
1,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,Las Vegas Strip Street Circuit,Las Vegas,United States
2,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00,Autódromo José Carlos Pace,São Paulo,Brazil
3,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,Autódromo Hermanos Rodríguez,Mexico City,Mexico
4,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,Circuit of the Americas,Austin,USA

In [984]:
Safety_Car.head()

,Grand Prix,Cause,Deployed (lap),Called in (lap),Number of full laps,Year
0,São Paulo Grand Prix,Accident (Ricciardo and Magnussen),1,6,5,2022
1,Miami Grand Prix,Accident,42,46,3,2022
2,Emilia Romagna Grand Prix,Accident (Sainz),1,4,2,2022
3,Emilia Romagna Sprint,Accident (Zhou),1,4,2,2022
4,Australian Grand Prix,Accident (Vettel),23,26,2,2022

In [985]:
PATH = ChromeDriverManager().install()

driver = webdriver.Chrome(PATH)

driver.get('http://ergast.com/api/f1/drivers?=123')

In [986]:
table = driver.find_elements(By.CSS_SELECTOR, '#content > div.post > div > div:nth-child(2) > table > tbody')
len(table)

1

In [987]:
print(table[0].text)

Driver Table
Driver Name Permanent Number Nationality DOB Information
Carlo Abate Italian 1932-07-10 Biography
George Abecassis British 1913-03-21 Biography
Kenny Acheson British 1957-11-27 Biography
Philippe Adams Belgian 1969-11-19 Biography
Walt Ader American 1913-12-15 Biography
Kurt Adolff German 1921-11-05 Biography
Fred Agabashian American 1913-08-21 Biography
Kurt Ahrens German 1940-04-19 Biography
Jack Aitken 89 British 1995-09-23 Biography
Christijan Albers Dutch 1979-04-16 Biography
Alexander Albon 23 Thai 1996-03-23 Biography
Michele Alboreto Italian 1956-12-23 Biography
Jean Alesi French 1964-06-11 Biography
Jaime Alguersuari Spanish 1990-03-23 Biography
Philippe Alliot French 1954-07-27 Biography
Cliff Allison British 1932-02-08 Biography
Fernando Alonso 14 Spanish 1981-07-29 Biography
Giovanna Amati Italian 1959-07-20 Biography
Red Amick American 1929-01-19 Biography
George Amick American 1924-10-24 Biography
Chris Amon New Zealander 1943-07-20 Biography
Bob Anderson British 1931-05-19 Biography
Conny Andersson Swedish 1939-12-28 Biography
Michael Andretti American 1962-10-05 Biography
Mario Andretti American 1940-02-28 Biography
Keith Andrews American 1920-06-15 Biography
Marco Apicella Italian 1965-10-07 Biography
Frank Armi American 1918-10-12 Biography
Chuck Arnold American 1926-05-30 Biography
René Arnoux French 1948-07-04 Biography

In [988]:
rows = table[0].find_elements(By.TAG_NAME, 'tr')
print(rows[1].text)

Driver Name Permanent Number Nationality DOB Information

In [989]:
data_fr = []

for i in range(28):
    
    table = driver.find_elements(By.CSS_SELECTOR, '#content > div.post > div > div:nth-child(2) > table > tbody')

    rows = table[0].find_elements(By.TAG_NAME, 'tr')

    for f in rows:
        
        elems = f.find_elements(By.TAG_NAME, 'td')
        
        temp = []
        
        for e in elems:
            temp.append(e.text)
            
        data_fr.append(temp)

    sig = driver.find_element(By.CSS_SELECTOR, '#content > div:nth-child(2) > span > a')

    time.sleep(3)

    sig.click()    
    
print(data_fr)

[[], [], ['Carlo Abate', '', 'Italian', '1932-07-10', 'Biography'], ['George Abecassis', '', 'British', '1913-03-21', 'Biography'], ['Kenny Acheson', '', 'British', '1957-11-27', 'Biography'], ['Philippe Adams', '', 'Belgian', '1969-11-19', 'Biography'], ['Walt Ader', '', 'American', '1913-12-15', 'Biography'], ['Kurt Adolff', '', 'German', '1921-11-05', 'Biography'], ['Fred Agabashian', '', 'American', '1913-08-21', 'Biography'], ['Kurt Ahrens', '', 'German', '1940-04-19', 'Biography'], ['Jack Aitken', '89', 'British', '1995-09-23', 'Biography'], ['Christijan Albers', '', 'Dutch', '1979-04-16', 'Biography'], ['Alexander Albon', '23', 'Thai', '1996-03-23', 'Biography'], ['Michele Alboreto', '', 'Italian', '1956-12-23', 'Biography'], ['Jean Alesi', '', 'French', '1964-06-11', 'Biography'], ['Jaime Alguersuari', '', 'Spanish', '1990-03-23', 'Biography'], ['Philippe Alliot', '', 'French', '1954-07-27', 'Biography'], ['Cliff Allison', '', 'British', '1932-02-08', 'Biography'], ['Fernando Alonso', '14', 'Spanish', '1981-07-29', 'Biography'], ['Giovanna Amati', '', 'Italian', '1959-07-20', 'Biography'], ['Red Amick', '', 'American', '1929-01-19', 'Biography'], ['George Amick', '', 'American', '1924-10-24', 'Biography'], ['Chris Amon', '', 'New Zealander', '1943-07-20', 'Biography'], ['Bob Anderson', '', 'British', '1931-05-19', 'Biography'], ['Conny Andersson', '', 'Swedish', '1939-12-28', 'Biography'], ['Michael Andretti', '', 'American', '1962-10-05', 'Biography'], ['Mario Andretti', '', 'American', '1940-02-28', 'Biography'], ['Keith Andrews', '', 'American', '1920-06-15', 'Biography'], ['Marco Apicella', '', 'Italian', '1965-10-07', 'Biography'], ['Frank Armi', '', 'American', '1918-10-12', 'Biography'], ['Chuck Arnold', '', 'American', '1926-05-30', 'Biography'], ['René Arnoux', '', 'French', '1948-07-04', 'Biography'], [], [], ['Peter Arundell', '', 'British', '1933-11-08', 'Biography'], ['Alberto Ascari', '', 'Italian', '1918-07-13', 'Biography'], ['Peter Ashdown', '', 'British', '1934-10-16', 'Biography'], ['Ian Ashley', '', 'British', '1947-10-26', 'Biography'], ['Gerry Ashmore', '', 'British', '1936-07-25', 'Biography'], ['Bill Aston', '', 'British', '1900-03-29', 'Biography'], ['Richard Attwood', '', 'British', '1940-04-04', 'Biography'], ['Manny Ayulo', '', 'American', '1921-10-20', 'Biography'], ['Luca Badoer', '', 'Italian', '1971-01-25', 'Biography'], ['Giancarlo Baghetti', '', 'Italian', '1934-12-25', 'Biography'], ['Julian Bailey', '', 'British', '1961-10-09', 'Biography'], ['Mauro Baldi', '', 'Italian', '1954-01-31', 'Biography'], ['Bobby Ball', '', 'American', '1925-08-26', 'Biography'], ['Marcel Balsa', '', 'French', '1909-01-01', 'Biography'], ['Lorenzo Bandini', '', 'Italian', '1935-12-21', 'Biography'], ['Henry Banks', '', 'American', '1913-06-14', 'Biography'], ['Fabrizio Barbazza', '', 'Italian', '1963-04-02', 'Biography'], ['Skip Barber', '', 'American', '1936-11-16', 'Biography'], ['John Barber', '', 'British', '1929-07-22', 'Biography'], ['Paolo Barilla', '', 'Italian', '1961-04-20', 'Biography'], ['Rubens Barrichello', '', 'Brazilian', '1972-05-23', 'Biography'], ['Michael Bartels', '', 'German', '1968-03-08', 'Biography'], ['Edgar Barth', '', 'German', '1917-01-26', 'Biography'], ['Giorgio Bassi', '', 'Italian', '1934-01-20', 'Biography'], ['Erwin Bauer', '', 'German', '1912-07-17', 'Biography'], ['Zsolt Baumgartner', '', 'Hungarian', '1981-01-01', 'Biography'], ['Élie Bayol', '', 'French', '1914-02-28', 'Biography'], ['Don Beauman', '', 'British', '1928-07-26', 'Biography'], ['Günther Bechem', '', 'German', '1921-12-21', 'Biography'], ['Jean Behra', '', 'French', '1921-02-16', 'Biography'], [], [], ['Derek Bell', '', 'British', '1941-10-31', 'Biography'], ['Stefan Bellof', '', 'German', '1957-11-20', 'Biography'], ['Paul Belmondo', '', 'French', '1963-04-23', 'Biography'], ['Tom Belsø', '', 'Danish', '1942-08-27', 'Biography'], ['Jean-Pierre Beltoise', '', 'French', '1937-04-26', 'Biography'], ['Olivier Beretta', '', 'Monegasque', '1969-11-23', 'Biography'], ['Allen Berg', '', 'Canadian', '1961-08-01', 'Biography'], ['Gerhard Berger', '', 'Austrian', '1959-08-27', 'Biography'], ['Georges Berger', '', 'Belgian', '1918-09-14', 'Biography'], ['Éric Bernard', '', 'French', '1964-08-24', 'Biography'], ['Enrique Bernoldi', '', 'Brazilian', '1978-10-19', 'Biography'], ['Enrico Bertaggia', '', 'Italian', '1964-09-19', 'Biography'], ['Tony Bettenhausen', '', 'American', '1916-09-12', 'Biography'], ['Mike Beuttler', '', 'British', '1940-04-13', 'Biography'], ['Lucien Bianchi', '', 'Belgian', '1934-11-10', 'Biography'], ['Jules Bianchi', '17', 'French', '1989-08-03', 'Biography'], ['Gino Bianco', '', 'Brazilian', '1916-07-22', 'Biography'], ['Hans Binder', '', 'Austrian', '1948-06-12', 'Biography'], ['Clemente Biondetti', '', 'Italian', '1898-08-18', 'Biography'], ['Prince Bira', '', 'Thai', '1914-07-15', 'Biography'], ['Pablo Birger', '', 'Argentine', '1924-01-07', 'Biography'], ['Art Bisch', '', 'American', '1926-11-10', 'Biography'], ['Harry Blanchard', '', 'American', '1929-06-13', 'Biography'], ['Michael Bleekemolen', '', 'Dutch', '1949-10-02', 'Biography'], ['Alex Blignaut', '', 'South African', '1932-11-30', 'Biography'], ['Trevor Blokdyk', '', 'South African', '1935-11-30', 'Biography'], ['Mark Blundell', '', 'British', '1966-04-08', 'Biography'], ['Raul Boesel', '', 'Brazilian', '1957-12-04', 'Biography'], ['Menato Boffa', '', 'Italian', '1930-01-04', 'Biography'], ['Bob Bondurant', '', 'American', '1933-04-27', 'Biography'], [], [], ['Felice Bonetto', '', 'Italian', '1903-06-09', 'Biography'], ['Jo Bonnier', '', 'Swedish', '1930-01-31', 'Biography'], ['Roberto Bonomi', '', 'Argentine', '1919-09-30', 'Biography'], ['Juan Manuel Bordeu', '', 'Argentine', '1934-01-28', 'Biography'], ['Slim Borgudd', '', 'Swedish', '1946-11-25', 'Biography'], ['Luki Botha', '', 'South African', '1930-01-16', 'Biography'], ['Valtteri Bottas', '77', 'Finnish', '1989-08-28', 'Biography'], ['Jean-Christophe Boullion', '', 'French', '1969-12-27', 'Biography'], ['Sébastien Bourdais', '', 'French', '1979-02-28', 'Biography'], ['Thierry Boutsen', '', 'Belgian', '1957-07-13', 'Biography'], ['Johnny Boyd', '', 'American', '1926-08-19', 'Biography'], ['David Brabham', '', 'Australian', '1965-09-05', 'Biography'], ['Gary Brabham', '', 'Australian', '1961-03-29', 'Biography'], ['Jack Brabham', '', 'Australian', '1926-04-02', 'Biography'], ['Bill Brack', '', 'Canadian', '1935-12-26', 'Biography'], ['Vittorio Brambilla', '', 'Italian', '1937-11-11', 'Biography'], ['Ernesto Brambilla', '', 'Italian', '1934-01-31', 'Biography'], ['Toni Branca', '', 'Swiss', '1916-09-15', 'Biography'], ['Gianfranco Brancatelli', '', 'Italian', '1950-01-18', 'Biography'], ['Eric Brandon', '', 'British', '1920-07-18', 'Biography'], ['Don Branson', '', 'American', '1920-06-02', 'Biography'], ['Tom Bridger', '', 'British', '1934-06-24', 'Biography'], ['Tony Brise', '', 'British', '1952-03-28', 'Biography'], ['Chris Bristow', '', 'British', '1937-12-02', 'Biography'], ['Peter Broeker', '', 'Canadian', '1926-05-15', 'Biography'], ['Tony Brooks', '', 'British', '1932-02-25', 'Biography'], ['Warwick Brown', '', 'Australian', '1949-12-24', 'Biography'], ['Alan Brown', '', 'British', '1919-11-20', 'Biography'], ['Walt Brown', '', 'American', '1911-12-30', 'Biography'], ['Adolf Brudes', '', 'German', '1899-10-15', 'Biography'], [], [], ['Martin Brundle', '', 'British', '1959-06-01', 'Biography'], ['Gianmaria Bruni', '', 'Italian', '1981-05-30', 'Biography'], ['Jimmy Bryan', '', 'American', '1926-01-28', 'Biography'], ['Clemar Bucci', '', 'Argentine', '1920-09-04', 'Biography'], ['Ronnie Bucknum', '', 'American', '1936-04-05', 'Biography'], ['Ivor Bueb', '', 'British', '1923-06-06', 'Biography'], ['Sébastien Buemi', '', 'Swiss', '1988-10-31', 'Biography'], ['Luiz Bueno', '', 'Brazilian', '1937-01-16', 'Biography'], ['Ian Burgess', '', 'British', '1930-07-06', 'Biography'], ['Luciano Burti', '', 'Brazilian', '1975-03-05', 'Biography'], ['Roberto Bussinello', '', 'Italian', '1927-10-04', 'Biography'], ['Jenson Button', '22', 'British', '1980-01-19', 'Biography'], ['Tommy Byrne', '', 'Irish', '1958-05-06', 'Biography'], ['Yves Cabantous', '', 'French', '1904-10-08', 'Biography'], ['Giulio Cabianca', '', 'Italian', '1923-02-19', 'Biography'], ['Mário de Araújo Cabral', '', 'Portuguese', '1934-01-15', 'Biography'], ['Phil Cade', '', 'American', '1916-06-12', 'Biography'], ['Alex Caffi', '', 'Italian', '1964-03-18', 'Biography'], ['John Campbell-Jones', '', 'British', '1930-01-21', 'Biography'], ['Adrián Campos', '', 'Spanish', '1960-06-17', 'Biography'], ['John Cannon', '', 'Canadian', '1933-06-21', 'Biography'], ['Eitel Cantoni', '', 'Uruguayan', '1906-10-04', 'Biography'], ['Bill Cantrell', '', 'American', '1908-01-31', 'Biography'], ['Ivan Capelli', '', 'Italian', '1963-05-24', 'Biography'], ['Piero Carini', '', 'Italian', '1921-03-06', 'Biography'], ['Duane Carter', '', 'American', '1913-05-05', 'Biography'], ['Eugenio Castellotti', '', 'Italian', '1930-10-10', 'Biography'], ['Johnny Cecotto', '', 'Venezuelan', '1956-01-25', 'Biography'], ['François Cevert', '', 'French', '1944-02-25', 'Biography'], ['Eugène Chaboud', '', 'French', '1907-04-12', 'Biography'], [], [], ['Jay Chamberlain', '', 'American', '1925-12-29', 'Biography'], ['Karun Chandhok', '', 'Indian', '1984-01-19', 'Biography'], ['Colin Chapman', '', 'British', '1928-05-19', 'Biography'], ['Dave Charlton', '', 'South African', '1936-10-27', 'Biography'], ['Pedro Chaves', '', 'Portuguese', '1965-02-27', 'Biography'], ['Bill Cheesbourg', '', 'American', '1927-06-12', 'Biography'], ['Eddie Cheever', '', 'American', '1958-01-10', 'Biography'], ['Andrea Chiesa', '', 'Swiss', '1964-05-06', 'Biography'], ['Max Chilton', '4', 'British', '1991-04-21', 'Biography'], ['Ettore Chimeri', '', 'Venezuelan', '1921-06-04', 'Biography'], ['Louis Chiron', '', 'Monegasque', '1899-08-03', 'Biography'], ['Joie Chitwood', '', 'American', '1912-04-14', 'Biography'], ['Bob Christie', '', 'American', '1924-04-04', 'Biography'], ['Johnny Claes', '', 'Belgian', '1916-08-11', 'Biography'], ['David Clapham', '', 'South African', '1931-05-18', 'Biography'], ['Jim Clark', '', 'British', '1936-03-04', 'Biography'], ['Kevin Cogan', '', 'American', '1956-03-31', 'Biography'], ['Peter Collins', '', 'British', '1931-11-06', 'Biography'], ['Bernard Collomb', '', 'French', '1930-10-07', 'Biography'], ['Alberto Colombo', '', 'Italian', '1946-02-23', 'Biography'], ['Érik Comas', '', 'French', '1963-09-28', 'Biography'], ['Franco Comotti', '', 'Italian', '1906-07-24', 'Biography'], ['George Connor', '', 'American', '1906-08-16', 'Biography'], ['George Constantine', '', 'American', '1918-02-22', 'Biography'], ['John Cordts', '', 'Canadian', '1935-07-23', 'Biography'], ['David Coulthard', '', 'British', '1971-03-27', 'Biography'], ['Piers Courage', '', 'British', '1942-05-27', 'Biography'], ['Chris Craft', '', 'British', '1939-11-17', 'Biography'], ['Jim Crawford', '', 'British', '1948-02-13', 'Biography'], ['Ray Crawford', '', 'American', '1915-10-26', 'Biography'], [], [], ['Alberto Crespo', '', 'Argentine', '1920-01-16', 'Biography'], ['Antonio Creus', '', 'Spanish', '1924-10-28', 'Biography'], ['Larry Crockett', '', 'American', '1926-10-23', 'Biography'], ['Tony Crook', '', 'British', '1920-02-16', 'Biography'], ['Art Cross', '', 'American', '1918-01-24', 'Biography'], ['Geoff Crossley', '', 'British', '1921-05-11', 'Biography'], ['Adolfo Cruz', '', 'Argentine', '1923-06-28', 'Biography'], ["Jérôme d'Ambrosio", '', 'Belgian', '1985-12-27', 'Biography'], ["Fritz d'Orey", '', 'Brazilian', '1938-03-25', 'Biography'], ['Cristiano da Matta', '', 'Brazilian', '1973-09-19', 'Biography'], ['Hernando da Silva Ramos', '', 'Brazilian', '1925-12-07', 'Biography'], ['Chuck Daigh', '', 'American', '1923-11-29', 'Biography'], ['Yannick Dalmas', '', 'French', '1961-07-28', 'Biography'], ['Derek Daly', '', 'Irish', '1953-03-11', 'Biography'], ['Christian Danner', '', 'German', '1958-04-04', 'Biography'], ['Jorge Daponte', '', 'Argentine', '1923-06-05', 'Biography'], ['Anthony Davidson', '', 'British', '1979-04-18', 'Biography'], ['Jimmy Davies', '', 'American', '1929-08-08', 'Biography'], ['Colin Davis', '', 'British', '1933-07-29', 'Biography'], ['Jimmy Daywalt', '', 'American', '1924-08-28', 'Biography'], ['Andrea de Adamich', '', 'Italian', '1941-10-03', 'Biography'], ['Elio de Angelis', '', 'Italian', '1958-03-26', 'Biography'], ['Carel Godin de Beaufort', '', 'Dutch', '1934-04-10', 'Biography'], ['Andrea de Cesaris', '', 'Italian', '1959-05-31', 'Biography'], ['Alain de Changy', '', 'Belgian', '1922-02-05', 'Biography'], ['Bernard de Dryver', '', 'Belgian', '1952-09-19', 'Biography'], ['Maria de Filippis', '', 'Italian', '1926-11-11', 'Biography'], ['Toulo de Graffenried', '', 'Swiss', '1914-05-18', 'Biography'], ['Peter de Klerk', '', 'South African', '1935-03-16', 'Biography'], ['Pedro de la Rosa', '', 'Spanish', '1971-02-24', 'Biography'], [], [], ['Alfonso de Portago', '', 'Spanish', '1928-10-11', 'Biography'], ['Giovanni de Riu', '', 'Italian', '1925-03-10', 'Biography'], ['Max de Terra', '', 'Swiss', '1918-10-06', 'Biography'], ['Alessandro de Tomaso', '', 'Argentine-Italian', '1928-07-10', 'Biography'], ['Charles de Tornaco', '', 'Belgian', '1927-06-07', 'Biography'], ['Emilio de Villota', '', 'Spanish', '1946-07-26', 'Biography'], ['Ernie de Vos', '', 'Dutch', '1941-07-01', 'Biography'], ['Nyck de Vries', '21', 'Dutch', '1995-02-06', 'Biography'], ['Jean-Denis Délétraz', '', 'Swiss', '1963-10-01', 'Biography'], ['Patrick Depailler', '', 'French', '1944-08-09', 'Biography'], ['Lucas di Grassi', '', 'Brazilian', '1984-08-11', 'Biography'], ['Paul di Resta', '', 'British', '1986-04-16', 'Biography'], ['Pedro Diniz', '', 'Brazilian', '1970-05-22', 'Biography'], ['Duke Dinsmore', '', 'American', '1913-04-10', 'Biography'], ['Frank Dochnal', '', 'American', '1920-10-08', 'Biography'], ['José Dolhem', '', 'French', '1944-04-26', 'Biography'], ['Martin Donnelly', '', 'British', '1964-03-26', 'Biography'], ['Mark Donohue', '', 'American', '1937-03-18', 'Biography'], ['Robert Doornbos', '', 'Dutch', '1981-09-23', 'Biography'], ['Ken Downing', '', 'British', '1917-12-05', 'Biography'], ['Bob Drake', '', 'American', '1919-12-14', 'Biography'], ['Paddy Driver', '', 'South African', '1934-05-13', 'Biography'], ['Piero Drogo', '', 'Italian', '1926-08-08', 'Biography'], ['Geoff Duke', '', 'British', '1923-03-29', 'Biography'], ['Johnny Dumfries', '', 'British', '1958-04-26', 'Biography'], ['Len Duncan', '', 'American', '1911-07-25', 'Biography'], ['Piero Dusio', '', 'Italian', '1899-10-13', 'Biography'], ['George Eaton', '', 'Canadian', '1945-11-12', 'Biography'], ['Bernie Ecclestone', '', 'British', '1930-10-28', 'Biography'], ['Don Edmunds', '', 'American', '1930-09-23', 'Biography'], [], [], ['Guy Edwards', '', 'British', '1942-12-30', 'Biography'], ['Vic Elford', '', 'British', '1935-06-10', 'Biography'], ['Ed Elisian', '', 'American', '1926-12-09', 'Biography'], ['Paul Emery', '', 'British', '1916-11-12', 'Biography'], ['Tomáš Enge', '', 'Czech', '1976-09-11', 'Biography'], ['Paul England', '', 'Australian', '1929-03-28', 'Biography'], ['Marcus Ericsson', '9', 'Swedish', '1990-09-02', 'Biography'], ['Harald Ertl', '', 'Austrian', '1948-08-31', 'Biography'], ['Nasif Estéfano', '', 'Argentine', '1932-11-18', 'Biography'], ['Philippe Étancelin', '', 'French', '1896-12-28', 'Biography'], ['Bob Evans', '', 'British', '1947-06-11', 'Biography'], ['Teo Fabi', '', 'Italian', '1955-03-09', 'Biography'], ['Corrado Fabi', '', 'Italian', '1961-04-12', 'Biography'], ['Pascal Fabre', '', 'French', '1960-01-09', 'Biography'], ['Carlo Facetti', '', 'Italian', '1935-06-26', 'Biography'], ['Luigi Fagioli', '', 'Italian', '1898-06-09', 'Biography'], ['Jack Fairman', '', 'British', '1913-03-15', 'Biography'], ['Juan Fangio', '', 'Argentine', '1911-06-24', 'Biography'], ['Nino Farina', '', 'Italian', '1906-10-30', 'Biography'], ['Walt Faulkner', '', 'American', '1920-02-16', 'Biography'], ['Ralph Firman', '', 'Irish', '1975-05-20', 'Biography'], ['Rudi Fischer', '', 'Swiss', '1912-04-19', 'Biography'], ['Mike Fisher', '', 'American', '1943-03-13', 'Biography'], ['Giancarlo Fisichella', '', 'Italian', '1973-01-14', 'Biography'], ['John Fitch', '', 'American', '1917-08-04', 'Biography'], ['Christian Fittipaldi', '', 'Brazilian', '1971-01-18', 'Biography'], ['Emerson Fittipaldi', '', 'Brazilian', '1946-12-12', 'Biography'], ['Wilson Fittipaldi', '', 'Brazilian', '1943-12-25', 'Biography'], ['Pietro Fittipaldi', '51', 'Brazilian', '1996-06-25', 'Biography'], ['Theo Fitzau', '', 'East German', '1923-02-10', 'Biography'], [], [], ['Pat Flaherty', '', 'American', '1926-01-06', 'Biography'], ['Jan Flinterman', '', 'Dutch', '1919-10-02', 'Biography'], ['Ron Flockhart', '', 'British', '1923-06-16', 'Biography'], ['Myron Fohr', '', 'American', '1912-06-17', 'Biography'], ['Gregor Foitek', '', 'Swiss', '1965-03-27', 'Biography'], ['George Follmer', '', 'American', '1934-01-27', 'Biography'], ['George Fonder', '', 'American', '1917-06-22', 'Biography'], ['Norberto Fontana', '', 'Argentine', '1975-01-20', 'Biography'], ['Azdrubal Fontes', '', 'Uruguayan', '1922-12-26', 'Biography'], ['Carl Forberg', '', 'American', '1911-03-04', 'Biography'], ['Gene Force', '', 'American', '1916-06-15', 'Biography'], ['Franco Forini', '', 'Swiss', '1958-09-22', 'Biography'], ['Philip Fotheringham-Parker', '', 'British', '1907-09-22', 'Biography'], ['Anthony Foyt', '', 'American', '1935-01-16', 'Biography'], ['Carlo Franchi', '', 'Italian', '1938-01-01', 'Biography'], ['Giorgio Francia', '', 'Italian', '1947-11-08', 'Biography'], ['Don Freeland', '', 'American', '1925-03-25', 'Biography'], ['Heinz-Harald Frentzen', '', 'German', '1967-05-18', 'Biography'], ['Paul Frère', '', 'Belgian', '1917-01-30', 'Biography'], ['Patrick Friesacher', '', 'Austrian', '1980-09-26', 'Biography'], ['Joe Fry', '', 'British', '1915-10-26', 'Biography'], ['Hiroshi Fushida', '', 'Japanese', '1946-03-10', 'Biography'], ['Beppe Gabbiani', '', 'Italian', '1957-01-02', 'Biography'], ['Bertrand Gachot', '', 'Belgian', '1962-12-23', 'Biography'], ['Patrick Gaillard', '', 'French', '1952-02-12', 'Biography'], ['Divina Galica', '', 'British', '1944-08-13', 'Biography'], ['Nanni Galli', '', 'Italian', '1940-10-02', 'Biography'], ['Oscar Gálvez', '', 'Argentine', '1913-08-17', 'Biography'], ['Fred Gamble', '', 'American', '1932-03-17', 'Biography'], ['Howden Ganley', '', 'New Zealander', '1941-12-24', 'Biography'], [], [], ['Frank Gardner', '', 'Australian', '1930-10-01', 'Biography'], ['Billy Garrett', '', 'American', '1933-04-24', 'Biography'], ['Jo Gartner', '', 'Austrian', '1954-01-24', 'Biography'], ['Pierre Gasly', '10', 'French', '1996-02-07', 'Biography'], ['Tony Gaze', '', 'Australian', '1920-02-03', 'Biography'], ['Olivier Gendebien', '', 'Belgian', '1924-01-12', 'Biography'], ['Marc Gené', '', 'Spanish', '1974-03-29', 'Biography'], ['Elmer George', '', 'American', '1928-07-15', 'Biography'], ['Bob Gerard', '', 'British', '1914-01-19', 'Biography'], ['Gerino Gerini', '', 'Italian', '1928-08-10', 'Biography'], ['Peter Gethin', '', 'British', '1940-02-21', 'Biography'], ['Piercarlo Ghinzani', '', 'Italian', '1952-01-16', 'Biography'], ['Bruno Giacomelli', '', 'Italian', '1952-09-10', 'Biography'], ['Dick Gibson', '', 'British', '1918-04-16', 'Biography'], ['Richie Ginther', '', 'American', '1930-08-05', 'Biography'], ['Antonio Giovinazzi', '99', 'Italian', '1993-12-14', 'Biography'], ['Ignazio Giunti', '', 'Italian', '1941-08-30', 'Biography'], ['Timo Glock', '', 'German', '1982-03-18', 'Biography'], ['Paco Godia', '', 'Spanish', '1921-03-21', 'Biography'], ['Christian Goethals', '', 'Belgian', '1928-08-04', 'Biography'], ['Paul Goldsmith', '', 'American', '1925-10-02', 'Biography'], ['José Froilán González', '', 'Argentine', 

In [990]:
len(data_fr)

896

In [991]:
Data_Driver = pd.DataFrame(data_fr)

Data_Driver.head()

                  0     1        2           3          4
0              None  None     None        None       None
1              None  None     None        None       None
2       Carlo Abate        Italian  1932-07-10  Biography
3  George Abecassis        British  1913-03-21  Biography
4     Kenny Acheson        British  1957-11-27  Biography

In [992]:
Data_Driver = Data_Driver.dropna()
Data_Driver = Data_Driver.reset_index(drop = True)

Data_Driver.head()

                  0 1         2           3          4
0       Carlo Abate     Italian  1932-07-10  Biography
1  George Abecassis     British  1913-03-21  Biography
2     Kenny Acheson     British  1957-11-27  Biography
3    Philippe Adams     Belgian  1969-11-19  Biography
4         Walt Ader    American  1913-12-15  Biography

In [993]:
new_col = ['Driver', 'Permanent Number', 'Nationality', 'Date of Birth', 'Biography']
Data_Driver.columns = new_col
Data_Driver = Data_Driver.sort_values(by = 'Date of Birth', ascending = False)

Data_Driver.head()

                  0 1         2           3          4
2       Carlo Abate     Italian  1932-07-10  Biography
3  George Abecassis     British  1913-03-21  Biography
4     Kenny Acheson     British  1957-11-27  Biography
5    Philippe Adams     Belgian  1969-11-19  Biography
6         Walt Ader    American  1913-12-15  Biography

In [994]:
Data_Driver = Data_Driver.drop(['Permanent Number', 'Biography'], axis = 1)
Data_Driver.head()

              Driver Nationality Date of Birth
601    Oscar Piastri  Australian    2001-04-06
681   Logan Sargeant    American    2000-12-31
782     Yuki Tsunoda    Japanese    2000-05-11
566     Lando Norris     British    1999-11-13
702  Mick Schumacher      German    1999-03-22